@charset "UTF-8";
/* CSS Document
	copyright: 	ZMA, All Rights Reserved
	web: 		zendou.com
	email: 		hello@digitalworx.com
	version:	1.0
	created: 	2018


	File Contents:
	 - CSS styles for ZMA.
*/

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import "_normalize";
@import "_animate";
@import "bootstrap/_functions";
@import "bootstrap/_variables";
@import "bootstrap/mixins/_breakpoints";
@import "bootstrap/utilities/_display";


html {
    font-size: 1em;
    line-height: 1.6;
	box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   SASS variables
   ========================================================================== */

$background-grey: #252525;
$red-text: #ff0000;
$grey-text: #b7b7b7;


/* ==========================================================================
   Custom styles
   ========================================================================== */

html, body {
    font-family: 'Raleway', Helvetica Neue, sans-serif !important;
    font-size: 100%;
	color: #fff;
	background: #fff;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

h2, h3, p, small {
	font-family: 'Raleway', Helvetica Neue, sans-serif;
}

#header {
	margin: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	background: $background-grey;
	
	@include media-breakpoint-down(sm) {
		padding-bottom: 21px;
	}
	
	@include media-breakpoint-down(xs) {
		padding-top: 16px;
		padding-bottom: 18px;
	}
}


.header-text {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	@include media-breakpoint-down(sm) {
		height: 30px;
	}
	
	h2 {
	font-size: 28px;
	font-weight: 600;
	text-align: center;
		
		@include media-breakpoint-down(md) {
		font-size: 20px;
		}
		
		@include media-breakpoint-down(sm) {
		font-size: 18px;
		margin-bottom: 0;
		}
		
		a {
			color: #fff;
			text-decoration: none;
			
			span {
				font-size: 22px;
				
			@include media-breakpoint-down(md) {
			font-size: 19px;
			}				
				
			@include media-breakpoint-down(sm) {
			font-size: 18px;
			}	

			@include media-breakpoint-down(xs) {
			font-size: 16px;
			}				
			
				.banner-zero-fix {
					font-size: 28px;
					
					@include media-breakpoint-down(md) {
					font-size: 23px;
					}
					
					@include media-breakpoint-down(sm) {
					font-size: 22px;
					}
					
					@include media-breakpoint-down(xs) {
					font-size: 18px;
					}
				}
	        }   
	    }
     }
 }

.header-logo {
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	@include media-breakpoint-down(sm) {
		height: 180px;
	}
	
	@include media-breakpoint-down(xs) {
		height: 160px;
	}
	
	img {
		max-width: 320px;
		
		@include media-breakpoint-down(md) {
		max-width: 280px;
		}
		
		@include media-breakpoint-down(xs) {
		max-width: 250px;
		}
	}
}


section.top-banner,
section.bottom-banner {
	overflow: auto;
	
	.banner-image {
		width: 100%;
		
		img {
		width: 100%;
		}
	}
}

section.intro {
	position: relative;
	padding-top: 8px;
	background: #f8f8f8;
	min-height: 480px;
    overflow: auto;
	
		h1 {
		padding: 38px 14px 0 14px;
		margin: 0;
		font-family: "copperplate", Baskerville, Palatino, serif;
		color: #ff0000;
		font-size: 96px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: -0.05em;
		line-height: 74px;
		margin-bottom: 12px;
		word-spacing: 0.15em;
		-webkit-font-smoothing: antialiased;
			
			@include media-breakpoint-down(sm) {
				font-size: 78px;
				line-height: 56px;
				letter-spacing: -0.09em;
				padding-top: 12px;				
				padding-left: 12px;
				padding-right: 12px;
				margin-bottom: 6px;
			}
			
			@media screen and (max-width: 360px) {
				font-size: 64px;
				line-height: 50px;
			}
		}

		h2 {
		margin-top: -4px;
		padding: 0 18px 0 18px;
		color: #363636;
		font-size: 29px;
		font-weight: 600;
		text-align: center;
			
			@include media-breakpoint-down(xs) {
				font-size: 21px;
				margin-top: 0;
			}
		}

		.intro-group {
			margin: 36px auto;
			max-width: 1400px;
			
			@include media-breakpoint-down(xs) {
				margin: 0 16px 24px 16px;
			}
			
			p {
			color: #444;
			font-size: 24px;
			font-weight: 500;
			text-align: left;
			margin: 0 5% 2% 6%;
				
			@include media-breakpoint-down(md) {
				margin: 0 32px 12px 58px;
				}
				
			@include media-breakpoint-down(xs) {
				font-size: 16px;
				font-weight: 500;
				margin: 0 12px 12px 12px;
				}
		}
	}
}


section.feature-blocks {
	
	background: $background-grey;
	
/*	.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
	}
	*/
	.no-gutters {
	  margin-right: 0;
	  margin-left: 0;

	  > .col,
	  > [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	  }
	}
	
	.feature-one {
		img {
			max-width: 100%;
		}
		
		.feature-text-group {
			padding-left: 6%;
			padding-right: 6%;
			
				@include media-breakpoint-down(xs) {
				padding: 10%;
				}	
			
			
			p {
				font-size: 28px;
				color: $grey-text;
				line-height: 50px;
				margin-bottom: 0;
				
				@include media-breakpoint-down(md) {
				font-size: 22px;
				line-height: 34px;
				}
				
				@include media-breakpoint-down(sm) {
				font-size: 18px;
				line-height: 30px;
				}
				
				@include media-breakpoint-down(xs) {
				font-size: 24px;
				line-height: 30px;
				}				
				
			  &.lead-text {
				  font-size: 32px;
				  line-height: 42px;
				  margin-bottom: 24px;
				  color: $red-text;
				  font-weight: 900;
				  
				  @include media-breakpoint-down(md) {
				  font-size: 26px;
				  line-height: 30px;
				  margin-bottom: 12px;
				  }
				  
				  @include media-breakpoint-down(sm) {
				  font-size: 22px;
				  line-height: 26px;
				  }
					  
				  @include media-breakpoint-down(xs) {
				  font-size: 25px;
				  line-height: 32px;
				  margin-bottom: 16px;
				  }
				}
			  }
		   }
		}
	}


footer {
	position: relative;
	margin: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	background: $background-grey;
	
	h3 {
		color: #fff;
		font-size: 28px;
		line-height: 28px;
		font-weight: 900;
		margin-top: 32px;
		padding: 0 12px 0 12px;
		text-align: center;
	}
	
	p {
		color: #fff;
		font-size: 22px;
		line-height: 26px;
		font-weight: 400;
		margin-top: 6px;
		padding: 0 12px 0 12px;
		
		@include media-breakpoint-down(xs) {
			font-size: 20px;
		}
	}
	
	.footer-header {
		h3 {
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
	
	.footer-buttons {
		
		margin-bottom: 28px;
		
		.footer-button {
			margin: 0 auto;
			position: relative;
			
			.btn-content-group {
				display: flex;
				justify-content: center;
				flex-direction: column;
				height: 150px;
				margin-left: 6px;
				margin-right: 6px;

			a {
				width: 320px;
				padding: 24px 24px 30px 24px;
				margin-top: 24px;
				border: 2px solid white;
				font-size: 18px;
				font-weight: 600;
				color: #fff;
				text-decoration:  none;
				text-align: center;
				vertical-align: middle;
				transition: all 250ms ease-out 0s;
				
				&:hover {
					background: #ff0000;
					border-color: #ff0000;
					color: $background-grey;
				}
				
				span {
					font-size: 26px;
					font-weight: 600;
				}
				
				span.footer-zero-fix {
					font-size: 22px;
				}
			 }
		 }
	 }
  }
	
	.facebook-link {
		
		p {
			font-weight: 600;
		}
		
		margin-bottom: 18px;
		
		a {
			color: #fff;
			text-decoration: none;
			transition: all 250ms ease-out 0s;
			
			&:hover {
				color: #ff0000;
			}
		}
		
	}
	
	.footer-logo {
		
		margin-top: 8px;
		
		img {
			width: 168px;
		}
	}
	
	.footer-digworx {
		margin: 32px 0 12px 0;
		
		a { 
		    transition: all 250ms ease-out 0s;
		  
			&:hover {
				opacity: 0.5;
			}
			
		  img {
		  width: 90px;
		}
	 }
  }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
